body{
background:url(../images/hw2/zbj.png) ;
background-size:cover;
}
#header{
width:100%;
margin:0 auto;
padding-top:60px;
}
#header_top{
width:100%;
height:60px;
line-height:60px;
margin:0 auto;
position:fixed;
top:0;
left:0;
background:rgba(255,255,255,0.7);
border-bottom:1px solid #ddd;
z-index:10;
}
#header_top>div{
width:1062px;
margin:0 auto;
}
#header_top>div img{
vertical-align:middle;
}
#header_top>div>s{
margin-right:25px;
margin-top:-5px;
-webkit-animation:log 2s;
}
@-webkit-keyframes log{
0%{margin-left:-300px;}
80%{margin-left:0px;
	-webkit-transform:rotateX(160deg);
	}
100%{margin-left:0px; -webkit-transform:rotateX(0deg);}
}
#header_top>div ul{
float:left;
}
#header_top>div ul li{
margin-right:30px;
float:left;
position:relative;
}
#header_top>div>ul>li>a{
display:block;
width:100%;
height:100%;
border-bottom:2px solid transparent;
transition:all .5s;
}
#header_top>div>ul>li>a:hover{
border-bottom:2px solid red;
color:red;
}
#header_top>div ul li s{
float:right;
width:13px;
height:13px;
background:url(../images/jr.png);
margin-top:25px;
margin-left:10px;
}
#header_top>div ul li>div{
position:absolute;
background:rgba(0,0,0,0.9);
width:1901px;
left:-612px;
display:none;
}
#header_top>div ul li>div.li_hover_2{
left:-706px;
}
#header_top>div ul li>div.li_hover_3{
left:-830px;
}
#header_top>div ul li>div.li_hover_4{
left:-925px;
}
#header_top>div ul li>div.li_hover_5{
left:-1032px;
}
#header_top>div ul li.xs>div{
display:block;
}
#header_top>div ul li>div dl{
float:left;
text-align:center;
}
#header_top>div ul li>div.li_hover dl dt s{
float:left;
width:214px;
height:214px;
background:url(../images/hw2/img_con_cn_rmd_honor.png);
}
#header_top>div ul li div.li_hover dl:nth-child(2) dt s{
background:url(../images/hw2/img_con_cn_rmd_mobile_g.png);
}
#header_top>div ul li div.li_hover dl:nth-child(3) dt s{
background:url(../images/hw2/img_con_cn_rmd_mobile_m.png);
}
#header_top>div ul li div.li_hover dl:nth-child(4) dt s{
background:url(../images/hw2/img_con_cn_rmd_mobile_p.png);
}
#header_top>div ul li>div.li_hover_2 dl dt s{
float:left;
width:305px;
height:300px;
background:url(../images/hw2/img_con_cn_rmd_tablet1.png);
}
#header_top>div ul li>div.li_hover_2 dl:nth-child(2) dt s{
background:url(../images/hw2/img_con_cn_rmd_tablet2.png);
}

#header_top>div ul li>div.li_hover_3 dl dt s{
float:left;
width:305px;
height:300px;
background:url(../images/hw2/img_con_cn_rmd_wearables1.png);
}
#header_top>div ul li>div.li_hover_3 dl:nth-child(2) dt s{
background:url(../images/hw2/img_con_cn_rmd_wearables2.png);
}


#header_top>div ul li>div.li_hover_4 dl dt s{
float:left;
width:214px;
height:213px;
background:url(../images/hw2/img_con_cn_rmd_mb.png);
}
#header_top>div ul li>div.li_hover_4 dl:nth-child(2) dt s{
background:url(../images/hw2/img_con_cn_rmd_sh.png);
}
#header_top>div ul li>div.li_hover_4 dl:nth-child(3) dt s{
background:url(../images/hw2/img_con_cn_rmd_acc.png);
}
#header_top>div ul li>div.li_hover_4 dl:nth-child(4) dt s{
background:url(../images/hw2/img_con_cn_rmd_honor.png);
}
#header_top>div ul li>div.li_hover_5 dl{
margin-top:90px;
margin-right:70px;
}
#header_top>div ul li>div.li_hover_5 dl dt s{
float:left;
width:70px;
height:64px;
background:url(../images/hw2/logo-3.png);
}
#header_top>div ul li>div.li_hover_5 dl:nth-child(2) dt s{
background-position:-178px 0;
}
#header_top>div ul li>div.li_hover_5 dl:nth-child(3) dt s{
background-position:-346px 0;
}
#header_top>div ul li>div.li_hover_5 dl:nth-child(4) dt s{
background-position:-521px 0;
}
#header_top>div ul li>div dl dt s:hover{
-webkit-filter:brightness(1.2);
cursor:pointer;
-webkit-animation:xz 1s ;
}
@-webkit-keyframes xz{
0%{-webkit-transform:rotatey(0deg);}
100%{-webkit-transform:rotatey(360deg);}
}

#header_top>div ul li>div dl dd.d1{
font-size:12px;
color:#83827f;
}
#header_top>div ul li>div dl dd.d1 b{
font-size:20px;
}
#header_top>div ul li>div dl dd.d2{
font-size:18px;
color:#c22c35;
font-weight:bold;
}
#header_top>div ul li>div dl dd.d3{
color:#c2c1bf;
font-size:14px;
font-weight:bold;
}
#header_top>div ul li div.li_hover_left{
margin-left:400px;
float:left;
}
#header_top>div ul li div.li_hover_right{
float:right;
background:rgba(65,62,55,0.7);
width:525px;
height:422px;
padding: 0 40px;
}
#header_top>div ul li div.li_hover_2 div.li_hover_right{
height:445px;
width:600px;
}
#header_top>div ul li div.li_hover_3 div.li_hover_right{
height:445px;
width:600px;
}
#header_top>div ul li div.li_hover_5 div.li_hover_right{
height:320px;
width:800px;
}
#header_top>div ul li div.li_hover_right a{
display:block;
color:#cac7c2;
}
#header_top>div ul li div.li_hover_right p{
display:block;
overflow:hidden;
}
#header_top>div ul li div.li_hover_right p.p1 a{
float:left;
margin-right:10px;
width:60px;
height:56px;
background:url(../images/hw2/logo_3.png);
}
#header_top>div ul li div.li_hover_right p.p1 a:hover{
-webkit-filter:brightness(1.2);}
#header_top>div ul li div.li_hover_right p.p1 a:nth-child(2){
background-position:-61px 0;
}
#header_top>div ul li div.li_hover_right p.p2 a{
width:33px;
height:26px;
margin-right:30px;
float:left;
background:url(../images/hw2/logo_4.png);
}
#header_top>div ul li div.li_hover_right p.p2 a:hover{
-webkit-filter:brightness(1.2);}
#header_top>div ul li div.li_hover_right p.p2 a:nth-child(2){
background-position:-60px 0;
}
#header_top>div ul li div.li_hover_right p.p2 a:nth-child(3){
background-position:-115px 0;
}
#img{
width:1902px;
height:720px;
margin:0 auto;
position:relative;
overflow:hidden;
cursor:pointer;
}
#img img{
width:1902px;
height:720px;
float:left;}
#img_box{
position:absolute;
top:0;
left:0;
width:7608px;
}
#main_box{
width:1902px;
height:540px;
margin:0 auto;
-webkit-transition:all .6s .2s;
position:relative;
overflow:hidden;
}
#img_box{
position:relative;
width:7680px;
-webkit-animation:dh 10s infinite;
}
#img_box{
float:left;
}
@-webkit-keyframes dh{
0%{
margin-left:0;
}
23%{
margin-left:0px;
}
25%{
margin-left:-1902px;
}
48%{
margin-left:-1902px;
}
50%{
margin-left:-3804px;
}
73%{
margin-left:-3804px;
}
75%{
margin-left:-5712px;
}
98%{
margin-left:-5712px;
}
100%{
margin-left:0px;
}
}




#banner{
width:1902px;
margin:0 auto;
}
#banner ul.ul1{
padding-top:4px;
background:url(../images/hw2/bj-2.png);

}
#banner ul.ul1 li{
float:left;
margin-left:3px;
margin-bottom:4px;
width:946px;
height:496px;
background:url(../images/hw2/banner5.jpg);
position:relative;
}
#banner ul.ul1 li div{
position:absolute;
top:300px;
left:590px;
}
#banner ul.ul1 li p{
position:absolute;
top:0px;
left:0px;
width:548px;
height:493px;
background:url(../images/hw2/yq2.png);
}
#banner ul.ul1 li:hover p{
-webkit-animation:tubiao 1s infinite;
}
#banner ul.ul1 li:nth-child(1) p{
background:url(../images/hw2/sj3.png);
}
#banner ul.ul1 li:nth-child(4) p{
background:url(../images/hw2/sj4.png);
}
#banner ul.ul1 li:nth-child(3) p{
background:url(../images/hw2/dn2.png);
}
@-webkit-keyframes tubiao{
0%{top:0px;}
50%{top:-30px;}
100%{top:0px;}
}
#banner ul.ul1 li div a{
float:left;
width:123px;
height:29px;
line-height:29px;
text-align:center;
border:1px solid black;
margin-right:16px;
-webkit-transition:all .5s;
}
#banner ul.ul1 li div a:hover{
background:#fff;
color:red;
}
#banner ul.ul1 li:nth-child(2){
background:url(../images/hw2/banner-b3.jpg);
}
#banner ul.ul1 li:nth-child(3){
background:url(../images/hw2/matebook.jpg);
}
#banner ul.ul1 li:nth-child(4){
background:url(../images/hw2/banner10.jpg);
}

#find_hw{
height:583px;
width:100%;
background:url(../images/hw2/bjt.png);
-webkit-animation:bjt 20s infinite; 
}
@-webkit-keyframes bjt{
0%{background-position:0px 0px;}
99%{background-position:-1000px 0px;}
100%{background-position:0px 0px;}
}
#find_top{
width:1187px;
margin:0 auto;
text-align:center;
padding-top:60px;
color:#cbcbcb;
}
#find_top h5{
font-size:22px;
margin-bottom:60px;
}
#find_top li{
float:left;
width:394px;
line-height:30px;
border-right:1px solid #505050;
}
#find_top li:nth-child(3){
border-right:0;
}
#find_top li b{
font-size:20px;
color:#cdcdcd;
}
#find_top p{
margin:47px 0;
}
#find_top p select{
width:378px;
margin-right:16px;
}
#find_top p select:nth-child(3) {
margin-right:0;
}
#find_top p a{
padding:10px 20px;
border:1px solid #fff;
color:#fff;
-webkit-transition:all 1s;
}
#find_top p a:hover{
background:#fff;
color:red;
}
#find_bottom{
width:100%;
margin-top:117px;
background:rgba(0,0,0,0.7);
position:relative;
}
#find_bottom p{
position:absolute;
top:-24px;
left:899px;
color:#fff;
}
#find_bottom:hover p{
border-bottom:3px solid red;
}

#find_bottom ul{
width:798px;
margin:0 auto;
}
#find_bottom ul li{
height:109px;
float:left;
}
#find_bottom ul li a{
margin-top:48px;
float:left;
height:22px;
width:265px;
text-align:center;
font-size:20px;
color:#fff;
}
#find_bottom ul li:hover a{
font-weight:bold;
}
#find_bottom ul li:nth-child(2) a{
border-left:1px solid #ddd;
border-right:1px solid #ddd;
}
#img_lb2{
width:100%;
height:117px;
overflow:hidden;
position:relative;
margin:20px 0;
}
#img_lb2 ul{
-webkit-animation:lb1 20s  linear infinite;
position:absolute;
width:4000px;
}
#img_lb2 ul li{
float:left;
width:190px;
background-image:linear-gradient(to bottom,#e6a10d,#78540a);
}
#img_lb2 ul li p{
float:left;
width:190px;
height:117px;
-webkit-filter:brightness(.5);
-webkit-transition:all .5s;

}
#img_lb2 ul li p:hover{
-webkit-filter:brightness(1);
-webkit-animation:lb2 1s .5s;
}
#img_lb2 ul li p.p1{
background:url(../images/hw2/100352yfappt3otv0pcnyp.jpg);
}
#img_lb2 ul li:nth-child(2) p.p1{
background:url(../images/hw2/100759ip7c217f8n7y9c73.jpg);
}
#img_lb2 ul li:nth-child(3) p.p1{
background:url(../images/hw2/101231lou2obzugj9jvr22.jpg);
}
#img_lb2 ul li:nth-child(4) p.p1{
background:url(../images/hw2/101644xg8eemeee2sex3o3.jpg);
}
#img_lb2 ul li:nth-child(5) p.p1{
background:url(../images/hw2/183014qg144t2bn2r30bw2.jpg);
}
#img_lb2 ul li:nth-child(6) p.p1{
background:url(../images/hw2/102153viaroaosio4zscc4.jpg);
}
#img_lb2 ul li:nth-child(7) p.p1{
background:url(../images/hw2/105747x5ftse5tlie8guiu.jpg);
}
#img_lb2 ul li:nth-child(8) p.p1{
background:url(../images/hw2/105941zsbxwq0s1m2mv0vx.jpg);
}
#img_lb2 ul li:nth-child(9) p.p1{
background:url(../images/hw2/110016n2ro24ot17nstcso.jpg);
}
#img_lb2 ul li:nth-child(10) p.p1{
background:url(../images/hw2/181133gzvb56hviqhcs5nq.jpg);
}


#img_lb2 ul li:nth-child(11) p.p1{
background:url(../images/hw2/100352yfappt3otv0pcnyp.jpg);
}
#img_lb2 ul li:nth-child(12) p.p1{
background:url(../images/hw2/100759ip7c217f8n7y9c73.jpg);
}
#img_lb2 ul li:nth-child(13) p.p1{
background:url(../images/hw2/101231lou2obzugj9jvr22.jpg);
}
#img_lb2 ul li:nth-child(14) p.p1{
background:url(../images/hw2/101644xg8eemeee2sex3o3.jpg);
}
#img_lb2 ul li:nth-child(15) p.p1{
background:url(../images/hw2/183014qg144t2bn2r30bw2.jpg);
}
#img_lb2 ul li:nth-child(16) p.p1{
background:url(../images/hw2/102153viaroaosio4zscc4.jpg);
}
#img_lb2 ul li:nth-child(17) p.p1{
background:url(../images/hw2/105747x5ftse5tlie8guiu.jpg);
}
#img_lb2 ul li:nth-child(18) p.p1{
background:url(../images/hw2/105941zsbxwq0s1m2mv0vx.jpg);
}
#img_lb2 ul li:nth-child(19) p.p1{
background:url(../images/hw2/110016n2ro24ot17nstcso.jpg);
}
#img_lb2 ul li:nth-child(20) p.p1{
background:url(../images/hw2/181133gzvb56hviqhcs5nq.jpg);
}
@-webkit-keyframes lb2{
0%{margin-top:0;}
30%{margin-top:-117px;}
70%{margin-top:-117px;}
100%{margin-top:0px;}
}
@-webkit-keyframes lb1{
0%{margin-left:0;}
8%{margin-left:0;}
10%{margin-left:-190px;}
18%{margin-left:-190px;}
20%{margin-left:-380px;}
28%{margin-left:-380px;}
30%{margin-left:-570px;}
38%{margin-left:-570px;}
40%{margin-left:-570px;}
48%{margin-left:-760px;}
50%{margin-left:-760px;}
58%{margin-left:-950px;}
60%{margin-left:-950px;}
68%{margin-left:-1140px;}
70%{margin-left:-1140px;}
78%{margin-left:-1330px;}
80%{margin-left:-1330px;}
88%{margin-left:-1520px;}
80%{margin-left:-1520px;}
98%{margin-left:-1710px;}
100%{margin-left:-1710px;}
}
#img_lb2 ul li p.p2{
line-height:117px;
font-weight:bold;
text-align:center;
}


/*
/*ÂÖ²¥Í¼2*/
#img_lb3 {
width:100%;
height:117px;
overflow:hidden;
position:relative;
margin:20px 0;
}
#img_lb3 ul{
-webkit-animation:lb1 25s  linear infinite;
position:absolute;
width:4000px;
}
#img_lb3 ul li{
float:left;
width:190px;
background-image:linear-gradient(to bottom,#e6a10d,#78540a);
}
#img_lb3 ul li p{
float:left;
width:190px;
height:117px;
-webkit-filter:brightness(.5);
-webkit-transition:all .5s;



}
#img_lb3 ul li p:hover{
-webkit-filter:brightness(1);
-webkit-animation:lb2 1s .5s;
}
#img_lb3 ul li p.p1{
background:url(../images/hw2/1.jpg);
}
#img_lb3 ul li:nth-child(2) p.p1{
background:url(../images/hw2/2.jpg);
}
#img_lb3 ul li:nth-child(3) p.p1{
background:url(../images/hw2/3.jpg);
}
#img_lb3 ul li:nth-child(4) p.p1{
background:url(../images/hw2/4.jpg);
}
#img_lb3 ul li:nth-child(5) p.p1{
background:url(../images/hw2/5.jpg);
}
#img_lb3 ul li:nth-child(6) p.p1{
background:url(../images/hw2/6.jpg);
}
#img_lb3 ul li:nth-child(7) p.p1{
background:url(../images/hw2/7.jpg);
}
#img_lb3 ul li:nth-child(8) p.p1{
background:url(../images/hw2/8.jpg);
}
#img_lb3 ul li:nth-child(9) p.p1{
background:url(../images/hw2/9.jpg);
}
#img_lb3 ul li:nth-child(10) p.p1{
background:url(../images/hw2/10.jpg);
}


#img_lb3 ul li:nth-child(11) p.p1{
background:url(../images/hw2/11.jpg);
}
#img_lb3 ul li:nth-child(12) p.p1{
background:url(../images/hw2/12.jpg);
}
#img_lb3 ul li:nth-child(13) p.p1{
background:url(../images/hw2/13.jpg);
}
#img_lb3 ul li:nth-child(14) p.p1{
background:url(../images/hw2/14.jpg);
}
#img_lb3 ul li:nth-child(15) p.p1{
background:url(../images/hw2/15.jpg);
}
#img_lb3 ul li:nth-child(16) p.p1{
background:url(../images/hw2/16.jpg);
}
#img_lb3 ul li:nth-child(17) p.p1{
background:url(../images/hw2/17.jpg);
}
#img_lb3 ul li:nth-child(18) p.p1{
background:url(../images/hw2/18.jpg);
}
#img_lb3 ul li:nth-child(19) p.p1{
background:url(../images/hw2/19.jpg);
}
#img_lb3 ul li:nth-child(20) p.p1{
background:url(../images/hw2/20.jpg);
}
#img_lb3 ul li p.p2{
line-height:117px;
font-weight:bold;
text-align:center;
}
#foot_box{

width:100%;
margin:0 auto;
background:url(../images/hw2/zbj.png);
background:rgba(39,39,39,0.7);

}
#foot_box div.bm{
width:1170px;
margin:0 auto;
}
#foot_box div.bm>ul{
float:left;
width:115px;
margin-top:45px;
margin-right:60px;
}
#foot_box div.bm>ul li{
line-height:32px;
}
#foot_box div.bm>ul li a{
color:#fff;
}
#foot_box div.bm>ul li a:hover{
-webkit-animation:dz .5s;}
#foot_box div.bm>ul li:nth-child(1){
line-height:50px;
}
#foot_box div.bm>ul li:nth-child(1) a{
font-size:20px;
font-weight:bold;
}
#foot_box div.tbl{
float:right;
width:328px;
margin-top:45px;
}
#foot_box div.tbl p{
margin:30px 0;
}
#foot_box div.tbl p a{
float:left;
margin-right:20px;
}
#foot_box div.tbl p a img{
width:32px;
height:32px;}
#foot_box div.tbl>a{
margin-bottom:27px;
display:block;
}
#foot_box div.tbl em{
display:block;
color:#fff;
}
#foot_box div.footer_bottom{
float:left;
width:100%;
margin:25px 0;
padding-top:10px;
border-top:5px solid #fff;
}
#foot_box div.footer_bottom a{
color:#fff;
font-size:15px;
}

#foot_box div.footer_bottom ul{
float:left;
}
#foot_box div.footer_bottom ul li{
float:left;
border-right:1px solid #ddd;
margin-right:15px;
padding-right:15px;
}
#foot_box div.footer_bottom ul li:last-child{
margin-right:0;
border:0;
}
@-webkit-keyframes dz{
0%{-webkit-filter:blur(3px); color:red;}
100%{-webkit-filter:blur(0px);color:#fff;}
}
