#top{
width:100%;
height:1192px;
background:url(../images/zbj.png) center center;
  background-size:cover;
margin:0 auto;
padding-top:10px;
}
#bottom{
width:100%;
height:777px;
background:url(../images/bottom.png) center center;
  background-size:cover;
margin:0 auto;
}
/* header   LOGO  */
#header{
width:1080px;
height:80px;
margin:0 auto;
}

#header s.log{
  float:left;
  background:url(../images/logo.png);
  width:134px;
  height:80px;
  margin-left:142px;
  -webkit-animation:log 2s;
}
@-webkit-keyframes log{
  0%{-webkit-transform:scale(0.1);margin-left:0px;}
  100%{-webkit-transform:scale(1); margin-left:142px;}
}
/*#header s.log:hover{
-webkit-filter: blur(3px);
}*/
#header div>a{
float:left;
width:168px;
height:39px;
background:url(../images/jrgw.png);
color:#fff;
font-size:16px;
font-weight:bold;
line-height:39px;
padding-left:20px;
margin-right:30px;
}
#header div>a:hover{
background:url(../images/jrgw_hover.png);
text-decoration:none;
}
#header div ul{
float:left;
margin-right:100px;
}
#header div ul span{
float:left;
line-height:24px;
font-size:14px;
}
#header div  li{
float:left;
width:23px;
height:24px;
background:url(../images/tb.png) no-repeat;
}
#header div ul li:hover{
background:url(../images/tb2.png) no-repeat;
}
#header div ul li:nth-child(3){
background-position:-23px 0px;
}
#header div ul li:nth-child(4){
background-position:-46px 0px;
}
#header div ul li:nth-child(5){
background-position:-69px 0px;
}
#header div ul li:nth-child(6){
background-position:-92px 0px;
}

#header div ul li a{
float:left;
width:23px;
height:24px;}


#top_main{
width:1105px;
margin:0 auto;
}
/*top_左边，注册栏*/
#top_left{
width:422px;
float:left;
position:relative;
}
#sp{
position:absolute;
top:185px;
right:-73px;
width:76px;
height:77px;
background:url(../images/sp.png) no-repeat;
-webkit-transition:1s;
}
#sp:hover{
background:url(../images/sp_hover.png) no-repeat;
}
/*视频*/
#sp embed{
position:absolute;
top:78px;
left:0;
display:none;
}
/*top_左边，——特殊文字区*/
#top_left i.i1{
margin-top:4px;
display:block;
width:422px;
height:192px;
background:url(../images/ztxswmd.png) no-repeat;
}
/*动画效果*/
#top_left i.i1 div{
float:left;
width:60px;
height:192px;
background:url(../images/gd.png) no-repeat;;
-webkit-animation:sg 2s infinite;
}
@-webkit-keyframes sg{
0%{margin-left:70px;}
100%{margin-left:350px;}
}
/*top_左边，——超链接*/
#top_left>a.ft{
margin-top:8px;
display:block;
width:372px;
height:42px;
line-height:42px;
background:url(../images/jrxf.png) no-repeat right 25px center;
text-align:center;
color:#fff;
font-size:24px;
padding-left:50px;
font-weight:bold;
margin-bottom:10px;
}
#top_left>a.ft:hover{
text-decoration:none;
background:url(../images/jrxf_hover.png) no-repeat right 25px center;
}

#top_left>a.ft b{
color:#fcd860;
font-size:26px;
}
/*top_左边，——特殊文字2*/
#top_left i.i2{
display:block;
width:342px;
height:33px;
background:url(../images/bsd.png) no-repeat;
border-left:1px solid black;
border-right:1px solid black;
margin-left:50px;
margin-bottom:25px;
}
/*top_左边，——快速注册*/
p.title{
color:#967748;
font-size:18px;
font-weight:bold;
width:250px;
margin:0 auto;
text-align:center;
line-height:24px;
margin-bottom:27px;
position: relative;
}
.kszc b{
position:absolute;
height:30px;
}

p.title s{
width:58px;
height:24px;
}
p.title s.s1{
float:left;
background:url(../images/you.png) no-repeat;
}
p.title s.s2{
float:right;
background:url(../images/zuopng.png) no-repeat;

}
#top_left div.kszc{
text-align:center;
}
input[type="text"]{
width:238px;
height:36px;
font-size:12px;
color:#ddd;
background:#fff;
border:1px solid #aaa;
margin-bottom:15px;
}
input[type="password"]{
width:238px;
height:36px;
font-size:12px;
color:#ddd;
background:#fff;
border:1px solid #aaa;
margin-bottom:15px;
}
#top_left div.kszc span{
display:block;
width:238px;
margin:0 auto;
text-align:left;
margin-bottom:15px;
}
input[type="button"]{
width:238px;
height:40px;
color:#fff;
font-weight:bold;
font-size:22px;
background:rgba(97,71,34,0.5);
}
input[type="button"]:hover{
background:rgba(97,71,34,1);
}
/*下载游戏区*/
#top_left div.xzyx{
text-align:center;
margin-top:70px;
}
#top_left div.xzyx p.title{
font-size:22px;
font-weight:bold;
color:#fff;
}
#top_left div.xzyx p.title s.s1{
float:left;
background:url(../images/you2.png) no-repeat;
}
#top_left div.xzyx p.title s.s2{
float:right;
background:url(../images/zuopng2.png) no-repeat;
}
#top_left div.xz{
width:288px;
margin:0 auto;
overflow:hidden;
}
#top_left div.xz a{
float:left;
width:80px;
height:60px;
padding-top:20px;
margin:0 8px;
background:url(../images/bj_02.png);
color:#634c22;
font-size:16px;
font-weight:bold;
}
#top_left div.xz a:hover{
background:url(../images/bj_01.png);
}
/*新服好礼*/
#top_left div.xfhl{
text-align:center;
margin-top:55px;
}
#top_left div.xfhl p.title{
font-size:22px;
font-weight:bold;
}
#top_left div.xfhl i{
display:block;
width:420px;
height:152px;
background:url(../images/hl.png) no-repeat center;
margin-top:-18px;
}
#top_left div.xfhl div{
width:370px;
margin:0 auto;
}
#top_left div.xfhl div a{
float:left;
width:173px;
height:57px;
padding-top:10px;
background:url(../images/bj_01.png);
color:#634c22;
margin:0 6px;
}
#top_left div.xfhl div a:hover{
background:url(../images/bj_01_hover.png);
}
#top_right{
float:right;
width:510px;
margin-top:813px;
}

#top_right ul{
position:relative;
}
#top_right ul li{
float:left;
}
#top_right ul li s{
display:block;
width:126px;
height:126px;
background:url(../images/logo2.png) no-repeat;
-webkit-transition:1s;
}
#top_right ul li>div{
position:absolute;
top:-532px;
left:-200px;
width:961px;
height:530px;
display:none;
}
#top_right ul li>div a{
position:absolute;
top:5px;
right:5px;
width:31px;
height:31px;
background:url(../images/btn.png) no-repeat;
-webkit-transition:0.5s;
}
#top_right ul li>div a:hover{
-webkit-transform:rotate(90deg);
}
#top_right ul li:nth-child(1) div.xs{
background:url(../images/4.jpg) no-repeat;
display:block;
}
#top_right ul li:nth-child(2) div.xs{
background:url(../images/5.jpg) no-repeat;
display:block;
}
#top_right ul li:nth-child(3) div.xs{
background:url(../images/6.jpg) no-repeat;
display:block;
}
#top_right ul li:nth-child(4) div.xs{
background:url(../images/7.jpg) no-repeat;
display:block;
}








#top_right ul li:hover s{
background:url(../images/logo2_hover.png) no-repeat;
-webkit-transform:rotatey(180deg);
}
#top_right ul li:nth-child(2) s{
background-position:-133px 0;
}
#top_right ul li:nth-child(3) s{
background-position:-267px 0;
}
#top_right ul li:nth-child(4) s{
background-position:-402px 0;
}
#top_right ul li p{
text-align:center;
font-size:18px;
color:#634c22;
font-weight:bold;
}
#top_right div.xf{
width:400px;
margin:0 auto;
margin-top:40px;
}
#top_right div.xf p{
float:left;
text-align:center;
line-height:70px;
}
#top_right div.xf p.sp1{
width:147px;
height:70px;
background:#614722;
}
#top_right div.xf p.sp1 b{
font-size:20px;
color:#ccb28d;

}
#top_right div.xf p.sp2{
width:253px;
height:70px;
background:#f3f3f3;
}
#top_right div.xf p.sp2 a{
font-size:20px;
color:#574517;
display:block;
width:233px;
height:50px;
text-align:center;
margin:10px auto;
line-height:50px;
border:2px solid #ddd;
}
#top_right div.xf p.sp2 a:hover{
background:#e2e2e2;
font-weight:bold;
}



/********************页面底部BOTTOM部分******************************/
#bottom>p{
margin:0 auto;
width:500px;
height:56px;
padding-top:70px;
font-size:50px;
font-weight:bold;
color:#7D5F39;
text-align:center;
font-family:"宋体";
}
#bottom>p s{
width:113px;
height:56px;
}
#bottom>p s.s1{
float:left;
background:url(../images/left1.png) no-repeat;
}
#bottom>p s.s2{
float:right;
background:url(../images/right2.png) no-repeat;
}


/*职业介绍*************************************/
#zyjs{
width:1120px;
height:380px;
margin:0 auto;
margin-top:70px;
}
#zyjs li{
position: relative;
height:380px;
min-width:78px;
float:left;
margin-right:2px;
background:url(../images/zylog.png) no-repeat;
}
#zyjs li:hover{
background:url(../images/zylog_hover.png) no-repeat;
-webkit-transition:0.5s;
}
#zyjs li.xs{
background:url(../images/zylog_hover.png) no-repeat;
}
#zyjs li:nth-child(2){
background-position:-80px 0;
}
#zyjs li:nth-child(3){
background-position:-160px 0;
}
#zyjs li:nth-child(4){
background-position:-240px 0;
}
#zyjs li:nth-child(5){
background-position:-320px 0;
}
#zyjs li:nth-child(6){
background-position:-400px 0;
}
#zyjs li p{
width:0px;
height:440px;
background:url(../images/mg-2.png) no-repeat;
margin-left:78px;
margin-top:-60px;
-webkit-transition:width 1s;
}
#zyjs li p.nan{
  background:url(../images/mg22.jpg) no-repeat;
}
#zyjs li:nth-child(2) p{
background:url(../images/mj-2.png) no-repeat;
}
#zyjs li:nth-child(2) p.nan{
  background:url(../images/mj22.jpg) no-repeat;
}
#zyjs li:nth-child(3) p{
background:url(../images/ds-2.png) no-repeat;
}
#zyjs li:nth-child(3) p.nan{
background:url(../images/ds22.jpg) no-repeat;
}
#zyjs li:nth-child(4) p{
background:url(../images/jx-2.png) no-repeat;
}
#zyjs li:nth-child(4) p.nan{
background:url(../images/jx22.jpg) no-repeat;
}
#zyjs li:nth-child(5) p{
background:url(../images/st-2.png) no-repeat;
}
#zyjs li:nth-child(5) p.nan{
background:url(../images/st22.jpg) no-repeat;
}
#zyjs li:nth-child(6) p{
background:url(../images/ys-2.png) no-repeat;
}
#zyjs li:nth-child(6) p.nan{
background:url(../images/ys22.jpg) no-repeat;
}

#zyjs li p.xs{
width:640px;
-webkit-transition:width 1s;

}
#zyjs li p.xs:before{
content:"";
display:inline-block;
opacity:0;
margin-left:150px;
margin-top:344px;
width:77px;
height:76px;
background:url(../images/sp_2.png) no-repeat;
-webkit-animation:sp2 2s 1s infinite;
}

@-webkit-keyframes sp2{
0%{-webkit-transform:rotatey(0deg);
	opacity:1;
    }
100%{-webkit-transform:rotatey(360deg);
	opacity:1;
}
}

#bottom div.footer{
width:865px;
margin:0 auto;
margin-top:40px;
}

#bottom div.footer ul{
float:right;}
#bottom div.footer ul  i{
float:left;
padding:0 5px;
}

#bottom div.footer ul li{
float:left;
}
#bottom div.footer em{
float:right;
margin-left:25px;
margin-top:5px;
color:black;
}
#bottom div.footer em a{
display:inline-block;
color:#fff;
background:#5D0505;
padding:5px 5px;
width:140px;
margin-left:10px;
}
#bottom div.footer em a:hover{
color:red;
background:#eee;
}
#bottom div.footer p{
margin-top:10px;
float:left;
color:black;
line-height:20px;
}

.qhnv{
  position:absolute;
  display: none;
  width: 27px;
  height: 131px;
  top:0;
  right:0;
}
#zyjs li.xs .qhnv{
  display: block;
}
.qiehuan-nan{
  position: absolute;
  width: 27px;
  height:60px;
  top:0;
}
.qiehuan-nv{
  position: absolute;
  width: 27px;
  height: 60px;
  top:70px;
}