.overlay{
	
	width: 100%;
	height:100%;
	background:rgba(255,255,255,0.5);
}
 .openDialog{
 	position:fixed;
	top:50%;
	margin-top:-250px;
	left:50%;
	margin-left:-250px;
	width:500px;
	height:500px;
	background-color: #fff;
 }