/*公共样式*/
body{
	margin:0;
	padding:0;
	font:14px "microsoft yahei",Arial,Helvetica,sans-serif;
	color:#666;
}
ul,p,h1,h2,h3,h4,h5,h6,dl,dd{
	margin:0;
	padding:0;
	list-style:none;
}
input{
	border:none;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
a{
	color:#333;
	text-decoration:none;
}
a:hover{

	text-decoration:underline;
}
img{
vertical-align:bottom;}

div:after{
	content:"";
	display:block;
	clear:both;
			}

li:after{
	content:"";
	display:block;
	clear:both;
			}
ul:after{
	content:"";
	display:block;
	clear:both;
			}

