/*页头部分 宽100% 高28px 渐变颜色 下边框 阴影*/
#header{
height:28px;
width:100%;
background-image:linear-gradient(to bottom,#fff,#EFEFEF);
border-bottom:1px solid #ddd;
box-shadow:0 3px 10px #ddd;
}
/*页头内容部分 宽880px 居中 行高*/
#header_box{
width:880px;
margin:0 auto;
line-height:28px;
}
/*页头内容部分_左 左浮动 红字*/
#header_box div.header_box_left{
float:left;
color:#BE4322;
}
/*页头内容部分_右列表UL 右浮动 */
#header_box ul.header_box_right{
float:right;
}
/*页头内容部分_右列表UL.li 左浮动 */
#header_box ul.header_box_right li{
float:left;
}
/*页头内容部分_右列表UL.li a 右外边距，内边距，右边框*/
#header_box ul.header_box_right li a{
border-right:1px solid #ddd;
margin-right:2px;
padding-right:2px;
}
/*页头内容部分_右列表UL.li.not_border a 无边框*/
#header_box ul.header_box_right li.not_border a{
border:0;
}
/*页头内容部分_右列表UL.li  b 绿色*/
#header_box ul.header_box_right li b{
color:#4C7E37;
}

/************************************************************/
/*banner广告部分 宽880 margin:20px auto; */
#banner{
width:880px;
margin:20px auto;
}
/*banner广告部分 img  margin:0 10px; */
#banner a{
margin:0 4px;
}

/************************************************************/
/*content主体广告部分 宽858% 高148px padding:25px 10px;边框,绝对定位*/
#content{
width:858px;
height:148px;
padding:25px 10px;
margin: 0 auto;
border:1px solid #ddd;
background-image:linear-gradient(to bottom,#F5F5F5,#FEFFFF,#F4F4F4);
border-radius:5px;
box-shadow:0 -3px 3px #ddd inset;
position:relative;
}
/*加入动画*/
#content i{
width:75px;
height:18px;
background:url(../images/djjr_hover.png);
position:absolute;
top:114px;
  left: 245px;
-webkit-animation:djjr 1s infinite;
}
@-webkit-keyframes djjr{
0%{top:114px;}
100%{top:115px;
-webkit-transform:scale(1.2);
}
}
#content a.margin_l{
margin-left:17px;
float:left;
}
/*定位两个标记 */
#content s{
width:15px;
height:148px;
position:absolute;
}
#content s.left_bk{
background:url(../images/wl2_03.png);
top:25px;
left:-5px;
}
#content s.right_bk{
background:url(../images/wl2_05.png);
top:25px;
right:-5px;
}
/*************************************************************/
/*页面主体 公告部分 880px;*/
#main{
width:880px;
margin:20px auto;
}
/*页面主体 公告部分 左边框*/
#mian_left{
float:left;
border:1px solid #ddd;
border-radius:10px;
width:428px;
height:180px;
box-shadow:0 -8px #F5F5F5 inset;
}
#mian_right{
float:right;
border:1px solid #ddd;
border-radius:10px;
width:428px;
height:180px;
box-shadow:0 -8px  #F5F5F5 inset;
}
/*页面主体 公告部分 左边框 上半部分 背景 阴影*/
div.mian_left_top{
height:32px;
line-height:32px;
background: url(../images/bj.png);
color:#F03D40;
font-size:18px;
font-weight:bold;
}
/*页面主体 公告部分 左边框 上半部分 图标*/
div.mian_left_top s{
float:left;
width:16px;
height:16px;
background:url(../images/wl1_27.png);
margin:8px 10px 0 15px;
}
div.mian_left_top a{
float:right;
color:#F03D40;
margin-right:10px;
}
/*页面主体 公告部分 左边框 下半部分 ul*/
ul.mian_left_bottom{
margin:10px 20px;
}
ul.mian_left_bottom li{
float:left;
width:388px;
line-height:20px;
margin:3px 0;
}
ul.mian_left_bottom p{
float:left;
}
ul.mian_left_bottom span{
float:right;
}
ul.mian_left_bottom p>s{

float:left;
width:10px;
height:10px;
background:url(../images/wl1_30.png);
margin-top:7px;
margin-right:10px;
}
ul.mian_left_bottom li:nth-child(2) a{
color:red;
}
ul.mian_left_bottom li a.mian_left_bottom_a1{
color:#BC0A0A;
}
ul.mian_left_bottom li a.mian_left_bottom_a2 s{
width:24px;
height:15px;
float:right;
background:url(../images/wl1_34.png);
}
/*页面底部  字体居中 加粗 变色*/
#footer{
width:990px;
margin:20px auto;
text-align:center;
}
#footer a{
color:black;
}
#footer b{
color:#6C9A37;
}
